@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
margin:auto;
font-family:"Comic Sans MS";
background-image:url(3.jpeg);
background-repeat:no-repeat;
background-size:cover;

}
.login-box{
margin:2px;
width:35%;
height:50%;
top=50%;
left=50%;
transform:translate(2%,20%);
color:white;
border-left: 3px solid #4caf50;
border-right:3px solid #4caf50;
background-image:url(1.png);
}
.login-box h1{
 float:center;
font-size:40px;
border-bottom:1px solid color:black;
margin-bottom:50px;
padding=13px 0;
}
.textbox{
width:100%;
overflow:hidden;
font-size:30;
padding=8px 0;
margin:8px 0px;
border-bottom:2px solid #4caf50;

}
.textbox i{
width:26px;
float:left;
text-align:center;
}
.textbox input{
border:none;
outline:none;
background:none;
color:white;
font-size:18px;
width=80%;
float:left;
margin:1px;
}
.btn{

width:30%;
border-radius: 15px 15px;
background-color:yellowgreen;
border:3px solid #4caf50;
border-size:20px;
color:white;
padding:8px;
font-family:"Comic Sans MS";
font-size:18px;
}
.fp{
color:red;
font-size:20px;
font-family:"Comic Sans MS";
background-image:url(2.jpeg);
}